asgiref==3.7.2
astor==0.8.1
click==8.1.7
Django==4.2.5
importlib-metadata==6.8.0
mypy-extensions==1.0.0
mysqlclient==2.2.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pycodestyle==2.11.0
sqlparse==0.4.4
tomli==2.0.1
yapf==0.40.1
zipp==3.16.2
